.component {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  h1 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
  }
  p {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
  }
}
